*{
/* background-color: #fe7b7b;
color: #581845; */

}
body{
  display: flex;
  align-items: center;
}

.start{
  border: 10px;
  border-style: dotted;
  border-color:#DAF7A6;
  background-color: #FFC300;
  padding: 50px;
  align-items: center;
  display: flex;
}

.quiz{
  border: 10px;
    border-style: dotted;
  border-color:#DAF7A6;
background-color: #FFC300;
  padding: 50px;
}

.question {
  border: 10px;
    border-style: dotted;
  border-color:#DAF7A6;
  background-color: #FFC300;
    padding: 50px;
}

.end {
  border: 10px;
    border-style: dotted;
  border-color:#FFC300;
    padding: 50px;

}

.choice {
  border-style: solid;
  border-color: #DAF7A6;
}

h1{
  color: #fe7b7b;
}
